---
import Shell from '@components/shell.astro';
import Section from '@components/section.astro';
import Banner from '@components/banner.astro';
import Card from '@components/card.astro';
import Image from '@components/image.astro';
import Overlay from '@components/overlay.astro';

const name = { primary: "gonzo", secondary: "solutions" }
const slogan = ["immerse", "understand", "execute"];
const team = [
    {
        "id": 0, 
        "name": { "first": "Torvald", "middle": "", "last": "Ask" }, 
        "alias": "torvaldask", 
        "title": "CEO"
    },
    {
        "id": 1, 
        "name": { "first": "Erik", "middle": "", "last": "Bjørnøy" }, 
        "alias": "erik-bjørnøy", 
        "title": "CTO"
    }, 
    {
        "id": 2, 
        "name": { "first": "Vu", "middle": "", "last": "Tran" }, 
        "alias": "vu-tran", 
        "title": "CFO"
    }
];
---
<Shell lang="en" charset="utf-8" title="GONZO">
    <Section name="banner" background="none">
        <Banner slot="content" name={name} slogan={slogan} />
    </Section>
    <Section name="team" background="#181818">
        <div slot="content" class="grid shadowed bordered padded rounded" padding="medium" radius="large" style="background: #101010">
            {
                team.map(
                    member =>
                        <Card background="#181818">
                            <!--
                            <div slot="header" class="padded" padding="medium">
                            </div>
                            -->
                            <Image slot="content" width="100%" height="100%" source="https://thispersondoesnotexist.com/" /> 
                            <Overlay slot="content">
                                <div slot="header" class="padded aligned cased" padding="medium" alignment="center" case="upper"> {member.name.first} {member.name.last} </div>
                                <div slot="footer" class="padded aligned cased" padding="medium" alignment="center" case="upper"> {member.title} </div>
                            </Overlay>
                            <!--
                            <div slot="footer" class="padded" padding="medium">
                            </div>
                            -->
                        </Card>
                )
            }
        </div>
    </Section>
</Shell>

<style>

.grid {
    display: grid;
    grid: auto / repeat(3, 1fr);
    gap: 1rem;
    background: #101010;
}

</style>